@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
    background-color: #ec4899; /* Pink */
  }
  50% {
    background-color: #fca5a5; /* Light Pink */
  }
}

.animate-fade-in {
  animation: fade-in 1s ease forwards;
}

.animate-slide-up {
  animation: slide-up 0.5s ease forwards;
}

.animate-blink {
  animation: blink 1s infinite;
}
